{{!-- 
<p>ID: {{ user.id }}</p>
<p>Profile:
    <a href=" {{ user.profileUrl }}">{{ user.profileUrl }}</a>
</p>
<img src="{{ user.photos }}">  --}}


<div class=" card" style="background: transparent; border: 0px;">
    <div class="row" style="margin: 15px;">
        <img class="card-img-top " src="{{ passport.photos }}" style="width: 25%; " alt="User Profile">
        <div class="card-body" style="color: black;">
            <p>ID: {{ passport.id }}</p>
            <p>Profile:
                <a href="{{ passport.profileUrl }}">{{ passort.profileUrl }}</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each friends}}
                <li class="list-group-item">
                    <div class="lead"><a href="/friends/{{this.friendId}}">{{this.friendName}}</a></div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{#if user.request}}
{{#each newfriend}}
<li style="border-bottom: 1px solid lightgray">
        <div>
        <h4>{{this.username}}</h4>
        </div>
        <div>
            <div style="width: 50%; display: inline;">
            <input type="hidden" name="senderId" id="senderId" value="{{this.userId}}">
            <input type="hidden" name="senderName" id="senderName" value="{{this.username}}">
            <button type="submit" id="accept_friend" class="btn btn-primary" style="width: 8em">Accept</button>
            </div>
            <div style="width: 50%;  display: inline;">
                <input type="hidden" name="user_Id" id="user_Id" value="{{this.userId}}">
            <button type="submit" id="cancel_friend" class="btn btn-primary" style="width: 8em">Cancel</button>
            </div>
        </div>    
</li>
{{/each}}
{{else}}
<div>
    <h4 style="text-align:center">No requests</h4>
</div>
{{/if}}






