{{!-- 
<p>ID: {{ user.id }}</p>
<p>Profile:
    <a href=" {{ user.profileUrl }}">{{ user.profileUrl }}</a>
</p>
<img src="{{ user.photos }}">  --}}
<div class="container">
    <p class="neon">Dj Playlist</p>
    <input type="hidden" name="user_token1" id="user_token1" value="{{ user.spotifyToken }}">
    <input type="hidden" name="user_token2" id="user_token2" value="{{ user.spotifyToken }}">
    <div class="wrapper">
      <div class="scroll-list">
        <div class="scroll-list__wrp js-scroll-content">
          <div class="scroll-content" id="result">

          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-2">
      <div class="scroll-list-2">
        <div class="scroll-list__wrp-2 js-scroll-content" id="song-result">
          <div class="scroll-content-2">

          </div>
        </div>
      </div>
    </div>

    
  </div>







